.grid_idwebdesigner {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #fff;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.grid_idwebdesigner:before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
}

.title_idwebdesigner {
  margin: 0;
  font-size: 0.875em;
  font-family: "Playfair Display", serif;
  text-align: center;
}

.grid_idwebdesigner_nocursor {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #fff;
  min-height: 300px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
